Assignment/Assignment 3 RNN and NMT/student/__pycache__/
Assignment/Assignment 3 RNN and NMT/student/outputs/
Assignment/Assignment 3 RNN and NMT/student/runs/
    
Assignment/Assignment 3 RNN and NMT/student/model.bin
Assignment/Assignment 3 RNN and NMT/student/model.bin.optim

Project\code\__pycache__